<h1>Wee App</h1>

  <% if(current_user) { %>
  <h2><%= username %></h2>
  <form action="/logout" method="POST">
    <input type="submit" value="Logout"/>
  </form>
  <a href="/urls">My Wee Links</a>
  <% } else { %>
  <a href="/login">Login</a>  <a href="/register">Register</a>
  <% } %>
