<h1>Wee App</h1>


  <% if(username) { %>
  <p>
    <span><%=username%></span>
    <form action="/logout" method="POST">
      <input type="submit" value="Logout"/>
    </form>
  </p>
  <% } else { %>
  <p>
    <form action="/login" method="POST">

      <input id="username" type="text" name="username" placeholder="username"/>
      <input type="submit" value="Login"/>
    </form>
  </p>
  <% } %>






<!-- Change the login form logic in _header.ejs to check to see if username is present. If so, instead of showing the login form, display the username and a separate logout form which will POST to /logout.

The /logout endpoint should clear the cookie and also redirect the user back to the root path. -->