<!DOCTYPE html>
<html>
<head>
  <title>Wee App</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <div>
    <h2>Welcome to Wee App</h2>
    <p><a href="/login">Login</a> or <a href="/register">Register</a> to begin.</p>
  </div>
</body>
</html>

