<!DOCTYPE html>
<html>
  <head>
    <title>Wee App</title>
  </head>

  <body>
    <header>
      <% include ./partials/_header %>
    </header>

    <div>
      <form action="/register" method="POST">
        <input id="email" type="email" name="email" placeholder="email"/>
        <input id="password" type="password" name="password" placeholder="password"/>
        <input type="submit" value="Register"/>
      </form>
    </div>
  </body>
</html>