<!DOCTYPE html>
<html>
  <head>
    <title>Wee App</title>
  </head>

  <body>
    <h1>Wee App</h1>

    <p>
      <form action="/register" method="POST">
        <input id="email" type="email" name="email" placeholder="email"/>
        <input id="password" type="password" name="password" placeholder="password"/>
        <input type="submit" value="Register"/>
      </form>
    </p>
  </body>
</html>