<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create New Wee URL</title>
  </head>
  <body>
  <header>
    <% include ./partials/_header %>
  </header>

  <h2>Create New Wee URL</h2>
  <p>
    <form action="/urls" method="POST">
      <label for="longURL">Enter a URL to make wee:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://"/>
      <input type="submit" value="Submit"/>
    </form>
  </p>

   <p><a href="/urls">See All Wee URLs</a></p>
  </body>
</html>

<!-- /urls is the URI program that processes the form information -->
<!-- for = "longURL" The ID of a labelable form-related element in the same document as the label element. The first such element in the document with an ID matching the value of the for attribute is the labeled control for this label element. -->
<!-- input type = 'submit' per mdn docs type=submit is defined as a button that submits the form -->