<!DOCTYPE html>
<html lang = "en">
  <head>
    <title>Display Wee URL</title>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>

    <h2>Wee URL: <a href="/u/<%=shortURL%>"><%=shortURL%></a></h2>

    <p>
      <form action="/urls/<%=shortURL%>" method="POST">
        <input id="longURL" type="text" name="longURL" placeholder="<%=longy%>"/>
        <input type="submit" value="Update Wee URL"/>
      </form>
    </p>

    <p><a href="/urls/new">Create New Wee URL</a></p>

    <p><a href="/urls">See All Wee URLs</a></p>
  </body>
</html>